:root{
    --size-block: 1440 * 100vw;
}

.list-container{
width: 100%;
height: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.list-container_title{ 
    font-size: calc( 50 / var(--size-block));
}
.list-container_header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: calc( 150 / var(--size-block));
background-color: rgb(206, 222, 245, 0.7);
box-shadow: 0px 0px 2px #beb9b9;
}
.list-container_header__subtitle{
    font-size: calc( 30 / var(--size-block));
}
.list-container_header__notification{
    margin-top: calc( 5 / var(--size-block));
}
.list-container_body__task-cards{
    display: flex;
    width: calc( 550 / var(--size-block)) ;
    justify-content: space-between;
    margin-top: calc( 5 / var(--size-block));
    background: linear-gradient(217deg, rgba(164, 223, 243, 0.8), rgba(245, 137, 137, 0.796) 70.71%);
    
}
.task-cards_btn-done1{
    display: flex; width: calc( 550 / var(--size-block)) ; 
    justify-content: space-between; margin-top: calc( 5 / var(--size-block)); 
    background: linear-gradient(217deg, rgba(164, 223, 243, 0.8), rgba(164, 252, 179, 0.796) 70.71%);
}
.task-cards_task-done{text-decoration: line-through;}

